.support-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(24, 21, 16)),
    url("../../images/SUPPORT.jpg") no-repeat center center/cover;
  object-fit: contain;
  text-align: center;
}
.support-info {
  color: white;
  font-size: 28px;
  padding: 16rem 1rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  justify-content: center;
  align-items: center;
}
.support-info span{
    color: chocolate;
}

.support-info input {
  margin-top: 6rem;
  width: 35rem;
  height: 55px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  outline: none;
  font-size: 15px;
}

@media screen and (max-width:603px) {
    .support-info input{
        width: 20rem;
    }
}

.support-info button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: chocolate;
  border: none;
  border-radius: 1rem;
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.support-info button:hover{
    background-color: blue;
    transition: 1s;
    transform: translateY(5px);
    cursor: pointer;
}
